<!DOCTYPE html>
<html lang="en">
<head> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hirerush-Software-Engineering</title>
    <link rel="stylesheet" href="./css/card_soft-engg.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div id="wrapper">
        <nav class="nav_bar">
            <div class="logo"></div>
            <div class="realnav">
              <nav class="menu">
                <ol>
                  <li class="menu-item"><a href="#0">Home</a></li>
                  <li class="menu-item"><a href="#0">About</a></li>
                  <li class="menu-item">
                    <a href="#0">Categories</a>
                    <ol class="sub-menu">
                      <li class="menu-item"><a href="#0">Technology & IT</a></li>
                      <li class="menu-item"><a href="#0">BDesign & Creative</a></li>
                      <li class="menu-item"><a href="#0">Writing & Content</a></li>
                    </ol>
                  </li>
                  <li class="menu-item">
                    <a href="#0">Explore</a>
                    <ol class="sub-menu">
                      <li class="menu-item"><a href="#0">Be a Mentor</a></li>
                      <li class="menu-item"><a href="#0">Get a Mentor</a></li>
                      <li class="menu-item"><a href="#0">QnA</a></li>
                    </ol>
                  </li>
                  <li class="menu-item"><a href="#0">Contact</a></li>
                </ol>
              </nav>
            </div>
            <div class="header">
              <label
              for="themeToggle"
              class="themeToggle st-sunMoonThemeToggleBtn"
              type="checkbox"
            >
            <input type="checkbox" id="themeToggle" class="themeToggleInput" />
            <svg
              width="18"
              height="18"
              viewBox="0 0 20 20"
              fill="currentColor"
              stroke="none"
            >
            <mask id="moon-mask">
              <rect x="0" y="0" width="20" height="20" fill="white"></rect>
              <circle cx="11" cy="3" r="8" fill="black"></circle>
            </mask>
            <circle
              class="sunMoon"
              cx="10"
              cy="10"
              r="8"
             mask="url(#moon-mask)"
            ></circle>
            <g>
              <circle class="sunRay sunRay1" cx="18" cy="10" r="1.5"></circle>
              <circle class="sunRay sunRay2" cx="14" cy="16.928" r="1.5"></circle>
              <circle class="sunRay sunRay3" cx="6" cy="16.928" r="1.5"></circle>
              <circle class="sunRay sunRay4" cx="2" cy="10" r="1.5"></circle>
              <circle class="sunRay sunRay5" cx="6" cy="3.1718" r="1.5"></circle>
              <circle class="sunRay sunRay6" cx="14" cy="3.1718" r="1.5"></circle>
            </g>
          </svg>
        </label>
    
                <div class="search">
                    <input type="text" class="search-bar" placeholder="Search..." />
                </div>
                <div>
                    <div class="buttons">
                        <a href="#" class="profile-user"></a>
                    </div>
                </div>
            </div>
          </nav>
          <div class="header-2">
            <nav class="nav2">
              <ol class="list1">
                <li><a href="#">Programming & Tech</a></li>
                <li><a href="#">Music & Audio</a></li>
                <li><a href="#">Video & Animation</a></li>
                <li><a href="#">Graphics & Design</a></li>
                <li><a href="#">Digital Marketing</a></li>
                <li><a href="#">Writing & Translation</a></li>
                <li><a href="#">Consulting</a></li>
                <li><a href="#">Business</a></li>
                <li><a href="#">AI Services</a></li>
              </ol>
            </nav>
          </div>
          <div class="field-filter">

          </div>
          <div class="web-developer-profiles">
            <div class="profile1">
              <div class="profile">
                <button class="mail">
                  <svg
                    class="lucide lucide-mail"
                    stroke-linejoin="round"
                    stroke-linecap="round"
                    stroke-width="2"
                    stroke="currentColor"
                    fill="none"
                    viewBox="0 0 24 24"
                    height="24"
                    width="24"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <rect rx="2" y="4" x="2" height="16" width="20"></rect>
                    <path d="m22 7-8.97 5.7a1.94 1.94 0 0 1-2.06 0L2 7"></path>
                  </svg>
                </button>
                <div class="profile-pic"></div>
                <div class="bottom">
                  <div class="content">
                    <span class="name">Name</span>
                    <span class="about-me">Projects Completed:-<br/>Rating:-</span>
                  </div>
                  <div class="bottom-bottom">
                    <div class="social-links-container">
                    </div>
                    <button class="button">Contact Me</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="profile2">
              <div class="profile">
                <button class="mail">
                  <svg
                    class="lucide lucide-mail"
                    stroke-linejoin="round"
                    stroke-linecap="round"
                    stroke-width="2"
                    stroke="currentColor"
                    fill="none"
                    viewBox="0 0 24 24"
                    height="24"
                    width="24"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <rect rx="2" y="4" x="2" height="16" width="20"></rect>
                    <path d="m22 7-8.97 5.7a1.94 1.94 0 0 1-2.06 0L2 7"></path>
                  </svg>
                </button>
                <div class="profile-pic"></div>
                <div class="bottom">
                  <div class="content">
                    <span class="name">Name</span>
                    <span class="about-me">Projects Completed:-<br/>Rating:-</span>
                  </div>
                  <div class="bottom-bottom">
                    <div class="social-links-container">
                    </div>
                    <button class="button">Contact Me</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="profile3">
              <div class="profile">
                <button class="mail">
                  <svg
                    class="lucide lucide-mail"
                    stroke-linejoin="round"
                    stroke-linecap="round"
                    stroke-width="2"
                    stroke="currentColor"
                    fill="none"
                    viewBox="0 0 24 24"
                    height="24"
                    width="24"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <rect rx="2" y="4" x="2" height="16" width="20"></rect>
                    <path d="m22 7-8.97 5.7a1.94 1.94 0 0 1-2.06 0L2 7"></path>
                  </svg>
                </button>
                <div class="profile-pic"></div>
                <div class="bottom">
                  <div class="content">
                    <span class="name">Name</span>
                    <span class="about-me">Projects Completed:-<br/>Rating:-</span>
                  </div>
                  <div class="bottom-bottom">
                    <div class="social-links-container">
                    </div>
                    <button class="button">Contact Me</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="profile4">
              <div class="profile">
                <button class="mail">
                  <svg
                    class="lucide lucide-mail"
                    stroke-linejoin="round"
                    stroke-linecap="round"
                    stroke-width="2"
                    stroke="currentColor"
                    fill="none"
                    viewBox="0 0 24 24"
                    height="24"
                    width="24"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <rect rx="2" y="4" x="2" height="16" width="20"></rect>
                    <path d="m22 7-8.97 5.7a1.94 1.94 0 0 1-2.06 0L2 7"></path>
                  </svg>
                </button>
                <div class="profile-pic"></div>
                <div class="bottom">
                  <div class="content">
                    <span class="name">Name</span>
                    <span class="about-me">Projects Completed:-<br/>Rating:-</span>
                  </div>
                  <div class="bottom-bottom">
                    <div class="social-links-container">
                    </div>
                    <button class="button">Contact Me</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
    </div>
    <script>
        const themeToggle = document.getElementById('themeToggle');
      const body = document.body;

      themeToggle.addEventListener('change', () => {
        body.classList.toggle('dark-theme');
      });
    </script>
</body>
</html>