<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HireRush</title>
    <link rel="stylesheet" href="/css/choice.css">
</head>
<body>
    <div class="container">
        <div class="upperbox"></div>
        <div class="Circle1">
            <div class="innercircle1"> 
                <div class="freelancer">
                    <a id="client" href="./signupFreelancer">Looking For Work As A Freelancer</a>
                </div>
            </div>
        </div>
        <div class="slogan">
            <div class="hire">Hire.</div>
            <div class="create">Create.</div>
            <div class="deliver">Deliver.</div>
        </div>
        <div class="downbox"></div>
        <div class="Circle2">
            <div class="innercircle2">
                <div class="client">
                    <a id="free" href="./signupClient">Looking To Hire Talented People As A Client</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>