<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="./css/styleLogin.css">
</head>
<div id="wrapper">
        <div class="container">
            <div class="left">
                <form action="/login" method="post" >
                    <div>
                        <h1 class="heading">Login Account</h1>
                        <p class="signup">Don’t have an account? <a href="./choice" class="create_one">Create one</a></p>
                    </div>
                    
                
                    <div class="platform">
                        <div class="google">
                            <a href="#" >Continue With Google</a>
                        </div>
                        
                        <a href="#" class="apple">Continue With Apple</a>
                    </div>
                    <div class="dot">
                        <div class="dot_left"></div>
                       <div> <h4 class="center_dot">Or</h4></div>
                        <div class="dot_right"></div>
                    </div>
                    <div class="input_form">
                        <fieldset class="email_field">
                            <legend >Email</legend>
                            <input type="email" id="email" name="email">
                            <div></div>
                        </fieldset>
                        
                        <fieldset class="field_password">
                            <legend >Password</legend>
                            <input type="password" id="password" name="password">
                            <div></div>
                        </fieldset>
                        <div  class="f_password">
                            <a href="#">forget Password</a>
    
                        </div >
                       
        
                    </div>
                    
                    <div class="btn_div">
                       
                        <button class="btn_login btn btn-white btn-animate" type="submit" value="login">Login</button>
                    </div>
                </form>
            </div>
            <div class="right">
                <div class="slogon_div">
                    <h1 class="slogan"></h1>      
                </div>
                <div class="img_div">
                    <div class="curve"></div>
                    <img src="./asset/image1.png" alt="error" class="image">
                </div>
               
            </div>
            
    </div>
  
</div>
<body>
    <script src="./js/main.js" ></script>
</body>
</html>